
header {
    background-color: #1f1f1f; 
    color: #e0e0e0; 
    padding: 20px 0;
    position: relative; 
    width: 100%; 
}


header .logo {
    position: absolute; 
    left: 20px;
    top: 50%; 
    transform: translateY(-50%);
}

header .logo img {
    max-height: 100px; 
}


header nav {
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #FFA500;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #121212; 
    color: #e0e0e0; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.hero {
    text-align: center;
    background-color: #1e1e1e;
    filter: contrast(75%)  saturate(180%);
    padding: 200px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    background-image:url("img/batatas-zanetti.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.hero h1 {
    color: #000000;
    font-size: 2.6em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
    color: #ffffff;
}



.summary {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    justify-content: center; 
    text-align: center; 
    margin-bottom: 40px;
}

.summary h2 {
    color: #FFA500;
    font-size: 2em;
    margin-bottom: 20px;
}

.summary p {
    font-size: 1.1em;
    margin: 10px 0;
    color: #b0b0b0; 
}


#produtos .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    justify-content: center; 
    text-align: center; 
    margin-bottom: 40px; 
}

#produtos h1 {
    width: 100%;
    font-size: 2em;
    color: #FFA500; 
    text-align: center; 
    margin-bottom: 30px; 
}

#produtos .produto-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-basis: 200px; 
}

#produtos h2 {
    color: #FFA500; 
    font-size: 1.6em;
    margin-bottom: 10px;
}

#produtos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#produtos ul li {
    font-size: 1.2em;
    color: #e0e0e0;
}

#produtos .produto-item:last-child h2 {
    white-space: nowrap;
}

#produtos .produto-item ul li::before {
    content: "→"; 
    margin-right: 10px; 
    color: #FFA500; 
    font-size: 1.5em; 
}

#quem-somos h1 {
    text-align: center;
    color: #FFA500; 
    font-size: 2.5em;
    margin-bottom: 20px; 
}

#quem-somos .quem-somos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#quem-somos .quem-somos-texto {
    max-width: 600px;
}

#valores .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap; 
}

.valores-item {
    flex: 1;
    background-color: #333;
    padding: 30px 20px; 
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 20px;
}

.valores-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); 
}

.valores-item h2 {
    color: #FFA500; 
    font-size: 1.8em;
    margin-bottom: 15px; 
    font-weight: bold;
    text-align: center;
}

.valores-item ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.valores-item ul li {
    font-size: 1.2em;
    color: #e0e0e0; 
    display: flex;
    align-items: center;
    gap: 10px; 
}

.valores-item ul li::before {
    content: "→"; 
    margin-right: 10px; 
    color: #FFA500; 
    font-size: 1.5em; 
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .valores-item {
        flex-basis: 100%;
    }

    .valores-item h2 {
        font-size: 1.6em; 
    }

    .valores-item ul li {
        font-size: 1.1em; 
    }
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0; 
    padding: 20px 0;
    position: relative; 
    width: 100%; 
}

/* Logo no canto esquerdo */
header .logo {
    position: absolute; 
    left: 20px;
    top: 50%;
    transform: translateY(-50%); 
}

header .logo img {
    max-height: 100px; 
}

/* Navegação no canto direito */
header nav {
    position: absolute; 
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #FFA500;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #121212; 
    color: #e0e0e0; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.hero {
    text-align: center;
    background-color: #1e1e1e;
    filter: contrast(75%)  saturate(180%);
    padding: 200px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    background-image:url("img/batatas-zanetti.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.hero h1 {
    color: #000000;
    font-size: 2.6em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
    color: #ffffff;
}



.summary {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: center; 
    text-align: center; 
    margin-bottom: 40px; 
}

.summary h2 {
    color: #FFA500;
    font-size: 2em;
    margin-bottom: 20px;
}

.summary p {
    font-size: 1.1em;
    margin: 10px 0;
    color: #b0b0b0; 
}


#produtos .container {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    justify-content: center; 
    text-align: center;
    margin-bottom: 40px; 
}

#produtos h1 {
    width: 100%; 
    font-size: 2em;
    color: #FFA500; 
    text-align: center; 
    margin-bottom: 30px; 
}

#produtos .produto-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-basis: 200px; 
}

#produtos h2 {
    color: #FFA500;
    font-size: 1.6em;
    margin-bottom: 10px;
}

#produtos ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
}

#produtos ul li {
    font-size: 1.2em;
    color: #e0e0e0; 
}

#produtos .produto-item:last-child h2 {
    white-space: nowrap;
}

#produtos .produto-item ul li::before {
    content: "→";
    margin-right: 10px; 
    color: #FFA500;
    font-size: 1.5em; 
}

#quem-somos h1 {
    text-align: center; 
    color: #FFA500; 
    font-size: 2.5em; 
    margin-bottom: 20px; 
}

#quem-somos .quem-somos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#quem-somos .quem-somos-texto {
    max-width: 600px;
}

#valores .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap; 
}

.valores-item {
    flex: 1;
    background-color: #333;
    padding: 30px 20px; 
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 20px;
}

.valores-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); 
}

.valores-item h2 {
    color: #FFA500; /* Cor laranja */
    font-size: 1.8em;
    margin-bottom: 15px; /* Espaçamento abaixo do título */
    font-weight: bold;
    text-align: center;
}

.valores-item ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.valores-item ul li {
    font-size: 1.2em;
    color: #e0e0e0; 
    display: flex;
    align-items: center;
    gap: 10px;
}

.valores-item ul li::before {
    content: "→"; 
    margin-right: 10px; 
    color: #FFA500; 
    font-size: 1.5em; 
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .valores-item {
        flex-basis: 100%;
    }

    .valores-item h2 {
        font-size: 1.6em; 
    }

    .valores-item ul li {
        font-size: 1.1em; 
    }
}


